@model IEnumerable<Memberships.Models.ThumbnailAreaModel>
@using Memberships.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        //Displayed if user is logged in
        foreach (var area in Model)
        {
            @Html.Partial("_ThumbnailAreaPartial", area)
        }
    }
    else
    {
        <!--lef column-->
        <div class="col-lg-9 col-md-8 col-sm-7">Not Logged</div>
        <!--right column-->
        <div class="col-lg-3 col-md-4 col-sm-5">
            @Html.Partial("_RegisterUserPartial", new RegisterUserModel { Email = "", Name = "", Password = "" })
            
        </div>
    }
</div>
<div class="row">
    <div class="col-sm-3 register-code-area">
        @Html.Partial("_RegisterCodePartial")
    </div>
    <div class="col-sm-9">
    </div>
</div>